COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
REGISTRY=${REGISTRY}
IMAGE_TAG=${IMAGE_TAG}
API_SITE_URL=${API_SITE_URL}
API_SITE_NAME=${API_SITE_NAME}
API_DB_PASSWORD=${API_DB_PASSWORD}
API_MAILER_DSN=${API_MAILER_DSN}
API_MAILER_FROM_EMAIL=${API_MAILER_FROM_EMAIL}
API_MAILER_FROM_NAME=${API_MAILER_FROM_NAME}
POSTGRESQL_ROOT_PASSWORD=${POSTGRESQL_ROOT_PASSWORD}
JWT_ENCRYPTION_KEY=${JWT_ENCRYPTION_KEY}
SENTRY_DSN=${SENTRY_DSN}
RABBITMQ_USER=${RABBITMQ_USER}
RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
GRANT_TYPE=${GRANT_TYPE}
CLIENT_ID=${CLIENT_ID}
CLIENT_SECRET=${CLIENT_SECRET}
YOOKASSA_SHOP_ID=${YOOKASSA_SHOP_ID}
YOOKASSA_SECRET_KEY=${YOOKASSA_SECRET_KEY}
FRONTEND_URL=${API_SITE_URL}